.final-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
  background-color: var(--black);
}

.final-title {
  font-size: 2.5rem;
  color: var(--gold);
  margin-bottom: 15px;
}

.final-subtitle {
  font-size: 1.5rem;
  color: var(--white);
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .final-title {
    font-size: 2rem;
  }
  .final-subtitle {
    font-size: 1.2rem;
  }
}